.navbar {
    background-color: #0f0f0fc7;
}

.navbar-toggler-hamburguer:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.icon-hamburguer {
    color: #fff;
}

.btn-drop {
    color:#fff;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-drop:focus {
    outline: none;
    box-shadow: none;
}

.drop-menu {
    background-color: #0f0f0fc7;
}

.drop-item{
    color: #fff;
}

.active {
    background-color: #fff;
    color: #000;
    padding: 10px 10px;
}

@media (max-width: 576px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0f0f0fc7;
        z-index: 999;
    }
}