.border-register {
    border: 2px solid #181616;
    width: 100%;
    max-width: 750px;
    padding: 30px 20px;
    background-color: #181616;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #f0f0f0,
        -5px -5px 20px #f0f0f0;
}

.container-register {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
}

.container-register .label-register {
    position: absolute;
    top: 5px;
    transition: 0.3s;
    transition: all 0.3s ease;
    padding-left: 10px;
}

.input-register {
    width: 500px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input-register:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container-register .input-register:focus~.label-register {
    transform: translateY(-35px);
}

.container-register .input-register:valid,
.container-register .input-register:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input-button {
    background-color: #2c2828;
    color: #fff;
    border: 3px solid #0e0d0d;
    width: 200px;
    padding: 15px 15px;
}

.input-button:hover {
    background-color: #383333;
}

@media (max-width: 576px) {
    .border-register {
        max-width: 300px;
    }

    .input-register {
        width: 200px;
    }
}